---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "Home Page"
---
<BaseLayout pageTitle={`I am the bestest Astro-boy and this is my ${pageTitle}!`}>
	<h2>#1 Good boy :3</h2>
</BaseLayout>