---
import BaseLayout from '../layouts/BaseLayout.astro'

import Greeting from '../components/Greeting'
const greetings = ["Hai", "Hello", "Hej", "Hey there", "Hi", "Howdy", "Hola", "Hullo"]

const pageTitle = "Home Page"
---
<BaseLayout pageTitle={`I am the bestest Astro-boy and this is my ${pageTitle}!`}>
	
	<h2>#1 Good boy :3</h2>

	<!-- this button works because client:load tells the component to reload the script -->
	<Greeting client:load messages={greetings} />

</BaseLayout>